In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn import tree

In [ ]:
#Manggil Data
drive.mount('/content/drive')
file = '/content/drive/MyDrive/data_cr_1.csv'
df = pd.read_csv(file)
df.head(10)

Mounted at /content/drive

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice
5  69  37  42    23.058049  83.370118  7.073454  251.055000  rice
6  69  55  38    22.708838  82.639414  5.700806  271.324860  rice
7  94  53  40    20.277744  82.894086  5.718627  241.974195  rice
8  89  54  38    24.515881  83.535216  6.685346  230.446236  rice
9  68  58  38    23.223974  83.033227  6.336254  221.209196  rice

In [ ]:
features = df[['N', 'P','K','temperature', 'humidity', 'ph', 'rainfall']]
result = df['label']

In [ ]:
#matriks kosong
empt1 = []
empt2 = []

#Train
x_train, x_test, y_train, y_test = train_test_split(features,result,test_size = 0.2,random_state =2)

In [ ]:
#SECOND : Random Forest
RanFor = RandomForestClassifier(n_estimators=10, random_state=0)
RanFor.fit(x_train,y_train)
PVRF = RanFor.predict(x_test)
met_RanFor = metrics.accuracy_score(y_test, PVRF)
empt1.append(met_RanFor)
empt2.append(RanFor)
print(met_RanFor)

0.9942148760330578

In [ ]:
print(classification_report(y_test,PVRF))

              precision    recall  f1-score   support

       apple       0.97      0.99      0.98       212
      banana       1.00      1.00      1.00       234
   blackgram       1.00      0.99      0.99       224
    chickpea       0.99      1.00      1.00       222
     coconut       0.99      1.00      1.00       250
      coffee       1.00      1.00      1.00       214
      cotton       1.00      0.99      1.00       215
      grapes       1.00      1.00      1.00       224
        jute       0.99      1.00      1.00       230
 kidneybeans       1.00      0.99      1.00       229
      lentil       1.00      1.00      1.00       217
       maize       0.99      1.00      0.99       231
       mango       1.00      1.00      1.00       212
   mothbeans       1.00      1.00      1.00       224
    mungbean       1.00      1.00      1.00       199
   muskmelon       1.00      1.00      1.00       211
      orange       0.99      0.97      0.98       229
      papaya       1.00      0.97      0.99       223
  pigeonpeas       1.00      1.00      1.00       203
 pomegranate       0.97      0.98      0.98       194
        rice       1.00      0.99      1.00       225
  watermelon       1.00      1.00      1.00       218

    accuracy                           0.99      4840
   macro avg       0.99      0.99      0.99      4840
weighted avg       0.99      0.99      0.99      4840

In [ ]:
#Save Model
import pickle as pickle

In [ ]:
input_kandungan = np.array([[0, 0, 31, 27, 93, 0, 150]])
rekomendasi = RanFor.predict(input_kandungan)
print(rekomendasi)

['coconut']

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [ ]:

# save the model to disk
filename = '/content/drive/MyDrive/data_cr_1.pkl'
pickle.dump(RanFor, open(filename, 'wb'))

In [ ]:
#load the model
loaded_model = pickle.load(open(filename, 'rb'))